/* Popup Book */

.book-body { display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: center; }
.book-card { perspective: 2500px; max-width: 375px; margin: auto; }

.cover-image { width: 100%; }

.book-container { transition: all 0.75s; position: absolute; width: 100%; height: 100%; z-index: -1; }

.book-card:hover .book-container { transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0); }
.book-card:hover .cover-image { filter: drop-shadow(0px 8px 10px black) grayscale(75%); }

.book-container::before, .book-container::after { content: ""; opacity: 0; width: 100%; transition: all 0.75s; position: absolute; left: 0; z-index: 1; }
.book-container::before { top: 0; height: 100%; background-image: linear-gradient(to top, transparent 46%, rgba(196,178,165, 0.5) 68%, rgba(196,178,165) 90%); z-index: 1; }
.book-container::after { opacity: 1; }

.book-card:hover .book-container::before, .book-container::after { opacity: 1; }
.book-card:hover .book-container::after { height: 60px; }

.book-title-up { width: 100%; position: relative; transition: transform 0.75s; filter: drop-shadow(2px 2px 2px #000000); }
.book-title-down { width: 100%; position: relative; transition: transform 0.75s; filter: drop-shadow(2px 2px 2px #000000); }

.book-card:hover .book-title-up { transform: translate3d(0%, -15%, 500px); filter: drop-shadow(2px 2px 2px #FFFFFF); }
.book-card:hover .book-title-down { transform: translate3d(0%, 15%, 500px); filter: drop-shadow(2px 2px 2px #FFFFFF); }

.book-character-up { width: 100%; opacity: 0; transition: all 1.25s; position: absolute; z-index: -1; }
.book-character-down { width: 100%; opacity: 0; transition: all 1.25s; position: absolute; z-index: -1; }

.book-card:hover .book-character-up { opacity: 1; transform: translate3d(0%, -25%, 100px); }
.book-card:hover .book-character-down { opacity: 1; transform: translate3d(0%, 25%, 100px); }
